/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #027da5;
  --ifm-color-primary-dark: #027194;
  --ifm-color-primary-darker: #026a8c;
  --ifm-color-primary-darkest: #015873;
  --ifm-color-primary-light: #028ab5;
  --ifm-color-primary-lighter: #0290be;
  --ifm-color-primary-lightest: #03a3d6;
  --ifm-code-font-size: 95%;
  --ifm-color-info:#027da5;
  --ifm-color-danger:#bc1142; 
  --ifm-color-success:#75a927;
  --armada-hero-background-color:#091a26;
  --armada-hero-text-color:#fff;
}
/* Dark Theme Variables */
html[data-theme='dark'] {
  --ifm-color-primary: #03a3d6;
  --ifm-color-primary-dark: #028ab5;
  --armada-hero-background-color:#303846;
  --background-color:#303846;
  --ifm-heading-color:#fff;
  --ifm-background-color: #111827;
  --ifm-navbar-background-color: #1f2937;
  --ifm-footer-background-color: #1f2937;
}
.hero--primary{
  background-color: var(--armada-hero-background-color);
  color:var(--armada-hero-text-color);
}
.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
/* WCat center website link in navbar */
.center-nav-item {
    margin: auto;
}
/* Styling one class specially in dark mode */
[data-theme='dark'] .codeBlock_node_modules-\@docusaurus-theme-classic-lib-next-theme-CodeBlock-Content-styles-module {
  --ifm-pre-background: #1f2937;
}
[data-theme='dark'] .language-bash.codeBlockContainer_node_modules-\@docusaurus-theme-classic-lib-next-theme-CodeBlock-Container-styles-module.theme-code-block {
  background-color: #1f2937;
}
